albumentations==1.3.1
comm==0.1.3
fugashi==1.1.0
ipynb-path==0.1.5
ipadic==1.0.0
kfp==2.4.0
librosa==0.10.1
lightgbm==4.1.0
matplotlib==3.7.3
natsort==8.4.0
numpy==1.23
numba==0.56.2
pandas==1.5.3
polars==0.19.12
pylint==3.0.2
seaborn==0.13.0
transformers==4.24.0
typing-extensions==4.1.1
timm==0.9.10
wrapt==1.15.0